*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
#hero{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(/images/bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    padding-right: 100px;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.hero-content h1{
    font-size: clamp(5rem, 5vw, 20rem);
    opacity: 0.9;
    font-weight: lighter;
    position: relative;
    z-index: 2;
    line-height: 1;
}
.hero-content h2{
    font-size: clamp(3rem, 2.5vw, 8rem);
    opacity: 0.7;
    font-weight: lighter;
    position: relative;
    z-index: 2;
}
.hero-content h3{
    font-size: clamp(1.5rem, 1.5vw, 5.5rem);
    opacity: 0.5;
    font-weight: lighter;
    position: relative;
    z-index: 2;
}





/*fonts*/
@font-face {
    font-family: 'Poppins';
    src: url(/fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}