:root{
    --white: #ffffff;
    --main: #02999e;
    --bg: #fafafa;
    --text: #2B292E;
    --gray: #808080;
}
::-moz-selection { /* Code for Firefox */
    color: var(--bg);
    background: var(--main);
}
::selection {
    color: var(--bg);
    background: var(--main);
}
html { 
    scroll-behavior:smooth; 
}
*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
}
mark{
    background-color: var(--white);
    color: var(--main);
}
body{
    height: 100vh;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}
nav{
    position: fixed;
    left: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    background-color: #fff;
    transition: .33s all linear;
    padding: 3px;
    border-radius: 56px;
    border: 2px solid var(--main);
}
nav li{
    width: 50px;
    height: 50px;
    list-style: none;
    margin-bottom: 5px;
}
nav li:last-child{
    margin: 0;
}
.route{
    width: 50px;
    height: 50px;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    transition: all .33s linear;
    padding: 7px;
}
.route-icon{
    display: block;
    height: 100%;
    width: 100%;
    transition: all .33s linear;
}
.route.active{
    background-color: var(--main);
}
.route.active .route-icon{
    filter: invert(1);
}
.slide{
    height: 100vh;
    overflow: hidden;
}
/*home*/
#hero{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(./images/bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    padding-right: 100px;
    font-family: "Poppins", sans-serif;
    color: #fff;
}
.hero-content h1{
    font-size: clamp(5rem, 5vw, 20rem);
    opacity: 0.9;
    font-weight: lighter;
    position: relative;
    z-index: 2;
    line-height: 1;
}
.hero-content h2{
    font-size: clamp(3rem, 2.5vw, 8rem);
    opacity: 0.7;
    font-weight: lighter;
    position: relative;
    z-index: 2;
}
.hero-content h3{
    font-size: clamp(1.5rem, 1.5vw, 5.5rem);
    opacity: 0.5;
    font-weight: lighter;
    position: relative;
    z-index: 2;
}
/*ANIMALS*/
#animals{
    background: var(--main);
    color: var(--bg);
    position: relative;
}
.path{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
    row-gap: 50px;
    column-gap: 20px;
    padding:  0 50px 0 160px;
    justify-content: center;
    position: relative;
    z-index: 2;
}
.step-title{
    width: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: lighter;
    position: absolute;
    top: 100px;
    z-index: 3;
}
.steps{
    display: flex;
    flex-direction: column;
    width: 100px;
    padding: 6px 10px;
    justify-content: center;
    align-items: center;
    row-gap: 70px;
    background-color: var(--bg);
    border-radius: 120px;
    align-self: center;
}
.step{
    border-radius: 50%;
    border: 5px solid var(--main);
    padding: 10px;
    width: 90px;
    aspect-ratio: 1/1;
    position: relative;
    cursor: pointer;
}
.step:nth-child(2)::before{
    content: '';
    position: absolute;
    width: 5px;
    height: 79px;
    background-color: var(--main);
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.step:nth-child(2)::after{
    content: '';
    position: absolute;
    width: 5px;
    height: 79px;
    background-color: var(--main);
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.step img{
    width: 100%;
    height: 100%;
    display: block;
}
#step-text{
    line-height: 35px;
    font-size: 25px;
    padding-left: 20px;
}
.step.active{
    background: var(--main);
}
.step.active img{
    filter: invert(1);
}
.path article,
.path aside{
    width: calc(50% - 70px);
    align-self: center;
    max-width: 700px;
}
.path aside img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    border: 5px solid var(--bg);
}
.bubble{
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 200px;
    background: #95bcbd;
    opacity: 0.6;
    border: 1px solid #4a9fa2;
    animation: slideUp linear infinite;
    z-index: 1;
}
@keyframes slideUp {
    from{
        top: 100%;
        transform: rotate(0);
    }
    to{
        top: -200px;
        transform: rotate(2turn);
    }
}
.bubble::before {
content: "";
position: absolute;
height: 100%;
width: 100%;
background: var(--main);
border-radius:50%;
box-shadow: -20px 30px 16px #02999e, -40px 60px 32px #02999e, inset -6px 6px 10px #2ac0c5, inset 2px 6px 10px #63ccd0, inset 20px -20px 22px white, inset 40px -40px 44px #429496;
}
.bubble::after {
    content: "";
    position: absolute;
    width: 20%;
    aspect-ratio: 1/1;
    background: #E6FDFB;
    border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
    right: 30%;
    top: 20%;
    opacity: 0.8;
}
.bubble:nth-of-type(7){
    left: 20px;
    width: 100px;
    animation-delay: 2s;
    animation-duration: 10s;
}
.bubble:nth-of-type(2){
    left: 160px;
    width: 80px;
    animation-delay: 1s;
    animation-duration: 12s;
}
.bubble:nth-of-type(3){
    right: 60px;
    width: 90px;
    animation-delay: 3s;
    animation-duration: 9s;
}
.bubble:nth-of-type(4){
    right: 500px;
    width: 90px;
    animation-delay: 2s;
    animation-duration: 13s;    
}
.bubble:nth-of-type(5){
    right: 900px;
    width: 130px;
    animation-delay: 4s;
    animation-duration: 15s;    
}
.bubble:nth-of-type(6){
    left: 500px;
    width: 260px;
    animation-delay: 1s;
    animation-duration: 11s;    
}
.bubble:nth-of-type(8){
    left: 40px;
    width: 250px;
    animation-delay: 4s;
    animation-duration: 17s;
}
.bubble:nth-of-type(9){
    right: 160px;
    width: 180px;
    animation-delay: 1s;
    animation-duration: 12s;
}
.bubble:nth-of-type(10){
    left: 70px;
    width: 190px;
    animation-delay: 3s;
    animation-duration: 10s;
}
.bubble:nth-of-type(11){
    left: 550px;
    width: 100px;
    animation-delay: 2s;
    animation-duration: 13s;    
}
.bubble:nth-of-type(12){
    left: 900px;
    width: 130px;
    animation-delay: 4s;
    animation-duration: 15s;    
}
.bubble:nth-of-type(13){
    right: 200px;
    width: 260px;
    animation-delay: 1s;
    animation-duration: 11s;    
}
/*TEAM*/
#team{
    position: relative;
}
#valentina{
    margin: 1rem auto;
    width: 90vw;
    max-width: 600px;
    text-align: center;
    animation: shake 1s linear 3;
}
.team-h1{
    position: absolute;
    left: 30px;
    top: 30px;
    color: var(--white);
}
#valentina .name{
    font-size: 1.5rem;
    color: var(--white);
    font-weight: 600;
}
.img{
    border: 2px solid var(--white);
    border-radius: 15px;
    overflow: hidden;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#valentina img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.team-h2{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
.team{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    text-align: center;
    text-wrap: nowrap;
    max-width: 600px;
    margin: 0 auto;
}
.person{
    width: calc(50% - 8px);
    animation: shake 1s linear 3;
}
.person img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.person .name{
    font-size: 0.9rem;
}
.person span{
    display: block;
    width: 100%;
    color: #1c1c1c;
    font-size: 6rem;
}
.team-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-right: 160px;
    background-color: var(--main);
    color: var(--white);
}
@keyframes shake {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(4px, 4px) rotate(4deg); }
    50% { transform: translate(0, 0) rotate(0deg); }
    75% { transform: translate(-4px, 4px) rotate(-4deg); }
    100% { transform: translate(0, 0) rotate(0deg); }
}
/*fonts*/
@font-face {
    font-family: 'Poppins';
    src: url(./fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}